
/web-server/audioFiles/*.wav
/web-server/node_modules
/web-server/piperModels/*.onnx
/web-server/piperModels/*.json
/react-app/dist
/react-app/.cache
/react-app/.parcel-cache
/react-app/node_modules
